@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

body {
  font-family: 'Roboto Mono', monospace;
  background-color: #111; 
  color: #eee; 
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 100vh; 
  flex-direction: column; 
  text-align: center;
  padding: 20px;
}

main {
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  color: #00ff00; 
  font-size: 2.5rem;
  text-shadow: 0 0 10px rgba(0, 255, 0, 0.8); 
  margin-bottom: 20px;
}

p {
  font-size: 1.25rem;
}

.typewriter-container {
  display: flex;
  justify-content: center;
}

.typewriter {
  display: inline-block;
  width: fit-content;
  
  overflow: hidden;
  border-right: .15em solid #00ff00;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .05em;
  animation: 
    typing 2s steps(60, end),
    blink-caret .75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #00ff00; }
}
